/* blu navbar #2C3D50 */
/* blu scuro footer #1A252F */
/* blu chiaro #39546D */
/* verde acqua #1ABC9C */

body
{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* CLASSI UTILITY */
.mt-40
{
  margin-top: 40px;
}

.mt-30
{
  margin-top: 30px;
}

.mt-20
{
  margin-top: 20px;
}

.mt-10
{
  margin-top: 10px;
}

.mb-40
{
  margin-bottom: 40px;
}

.mb-20
{
  margin-bottom: 20px;
}

.ml-15
{
  margin-left: 15px;
}
/* FINE CLASSI UTILITY */

/* HEADER */
/* NAVBAR */
.navbar-default
{
  background-color: #2C3D50;
  border-color: #2C3D50;
  font-weight: 700;
}

.navbar-brand
{
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:visited
{
  color: #fff;
}

.navbar-default .navbar-brand:hover
{
  color: #fff;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:visited
{
  color: #fff;
}

.navbar-default .navbar-nav li a:hover
{
  color: #1ABC9C;
}

.navbar-default .navbar-toggle
{
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:visited,
.navbar-default .navbar-toggle:focus
{
  border-color: #fff;
  background: none;
}

.navbar-default .navbar-toggle .icon-bar
{
  background: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form
{
  border: none;
  box-shadow: none;
}
/* FINE NAVBAR */

/* JUMBO */
.jumbo
{
  background: #1ABC9C;
  padding: 40px 0;
  margin-top: 50px;
}

.jumbo-content
{
  color: white;
}

.jumbo-content img
{
  height: 250px;
}

.jumbo-content h1
{
  font-weight: 700;
  font-size: 4em;
}

.jumbo-content i
{
  font-size: 1.5em;
}

.stella
{
  margin-top: 20px;
}

.jumbo-content .stella .divisore
{
  height: 4px;
  width: 100px;
  border-radius: 10px;
  background: #fff;
  display: inline-block;
  margin-bottom: 6px;
}


/* FINE JUMBO */
/* FINE HEADER */

/* MAIN */
/* SECTION PORTFOLIO */

.portfolio
{
  padding: 40px 0;
  color: #2C3D50;
}

.portfolio-title .stella .divisore
{
  height: 4px;
  width: 100px;
  border-radius: 10px;
  background: #2C3D50;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 6px;
}

.portfolio-title h2
{
  font-size: 3em;
  font-weight: 700;
}

.portfolio-title .stella i
{
  font-size: 25px;
}

.griglia
{
  padding: 30px 0;
}

.lavoro img
{
  border-radius: 10px;
}

.overlay
{
  height: 100%;
  width: 100%;
}

.img-overlay
{
  border-radius: 10px;
  background: #1ABC9C;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.2s ease;
}

.lavoro:hover .img-overlay
{
  opacity: 0.6;
}

.img-overlay i
{
  color: white;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* FINE SECTION PORTFOLIO */

/* SECTION ABOUT */
.about
{
  background: #1ABC9C;
}

.about
{
  padding: 40px 0;
  color: #fff;
}

.about-title h2
{
  font-size: 3em;
  font-weight: 700;
}

.about-title .stella .divisore
{
  height: 4px;
  width: 100px;
  border-radius: 10px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 6px;
}

.about-title .stella i
{
  font-size: 25px;
}

.about p
{
  font-size: 1.25em;
}

.btn-group-lg>.btn, .btn-lg
{
  padding: 17px 20px;
  border-radius: 10px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.about .btn-group-lg>.btn:hover, .about .btn-lg:hover,
.about .btn-group-lg>.btn:active, .about .btn-lg:active,
.about .btn-group-lg>.btn:visited, .about .btn-lg:visited,
.about .btn-group-lg>.btn:focus, .about .btn-lg:focus
{
  background: #fff;
  border: 2px solid #fff;
  color: #000;
  padding: 17px 20px;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn span
{
  margin-right: 8px;
}
/* FINE SECTION ABOUT */

/* SECTION CONTACT ME */
.contact
{
  padding: 40px 0;
  color: #2C3D50;
}

.contact-title h2
{
  font-size: 3em;
  font-weight: 700;
}

.contact-title .stella .divisore
{
  height: 4px;
  width: 100px;
  border-radius: 10px;
  background: #2C3D50;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 6px;
}

.contact-title .stella i
{
  font-size: 25px;
}

.form-control
{
  padding-bottom: 70px;
  padding-top: 20px;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
}

.form-control::placeholder
{
  color: #6D757D;
  font-size: 1.5em;
}

.contact .btn-group-lg>.btn, .contact .btn-lg
{
  padding: 17px 20px;
  border-radius: 10px;
  background: #1ABC9C;
  border: 2px solid #1ABC9C;
  color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact .btn-group-lg>.btn:hover, .contact .btn-lg:hover,
.contact .btn-group-lg>.btn:active, .contact .btn-lg:active,
.contact .btn-group-lg>.btn:visited, .contact .btn-lg:visited,
.contact .btn-group-lg>.btn:focus, .contact .btn-lg:focus
{
  background: #139a7f;
  border: 2px solid #139a7f;
  padding: 17px 20px;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* FINE SECTION CONTACT ME */
/* FINE MAIN */

/* FOOTER */
/* PRIMA SECTION FOOTER */
.info
{
  background: #2C3D50;
  padding: 40px 0;
  color: #fff;
}

.info-text h4
{
  font-size: 1.5em;
  font-weight: 700;
}

.social-network
{
	list-style: none;
	display: inline;
	padding: 0;
}
.social-network li
{
	display: inline;
	margin: 0 5px;
}

.social-circle li a
{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
  border: 2px solid #fff;
	border-radius: 50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background: none;
  color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.social-circle li i
{
	margin:0;
  vertical-align: middle;
  line-height: 50px;
	text-align: center;
}

.social-circle li a:hover
{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
  border: 2px solid #fff;
	border-radius: 50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background: #fff;
  color: #2C3D50;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.info-text p a
{
  color: #1ABC9C;
}

.info-text p a:hover
{
  color: #139a7f;
  text-decoration: none;
}
/* FINE PRIMA SECTION FOOTER */

/* SECONDA SECTION FOOTER */
.copyright
{
  padding: 30px 0;
  color: #fff;
  text-align: center;
  background: #1A252F;
  font-size: 0.8em;
}
/* FINE SECONDA SECTION FOOTER */
/* FINE FOOTER */
